@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --cor-mais-clara: #F4E9CD;
    --cor-mediana: #95A33E;
    --cor-escura-verde: #808A42;
    --cor-terciaria: #469B97;
    --cor-mais-escura: #33545B;
    --cor-escura: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    animation: transitionIn 1.5s;
    background-color: #fff;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transition: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transition: rotateX(0);
    }
}

/* CSS da navbar */
.navbar {
    position: fixed;
    background-color: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}


.navbar nav {
    display: flex;
    align-items: center;

}

ul {
    display: flex;
    align-items: center;
}

.navlinks {
    color: var(--cor-terciaria);
    margin: 0 40px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    text-align: center;
}

.navlinks ul {
    margin-left: 500px;
}

.logo img {
    max-width: 125px;
    display: flex;
    margin-left: 100px;
}


.btn_navbar {
    background-color: var(--cor-mais-escura);
    color: #fff;
    padding: 15px 20px;
    margin-right: 100px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
}

.btn_navbar:hover {
    background-color: var(--cor-terciaria);
}

/*faça parte*/
.container_btnFacaParte {
    background-color: #dedede;
    border-radius: 10px;
    padding: 80px;
    margin: 100px 300px;
    text-align: center;
}

.container_btnFacaParte .btn1 {
    margin-bottom: 50px;
}

.container_btnFacaParte .btn2 {
    background-color: var(--cor-escura-verde);
    color: var(--cor-mais-clara);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

/* CSS do início */
.container_intro {
    background-image: url(../assets/foto\ em\ equipe02.jfif);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 150px 50px 0;
}

.container_text {
    padding: 5%;
    max-width: 900px;
}

.container_text h1 {
    color: var(--cor-mais-clara);
    font-size: 90px;
    font-weight: 700;
}

.container_text p {
    color: var(--cor-mais-clara);
    font-size: 18px;
    padding: 2.5%;
}

.container_text span {
    color: var(--cor-terciaria);
}

/* CSS dos dados */
.container_mid {
    background-color: #fff;
    height: 40vh;
    padding: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: auto;
}

.container_mid h2 {
    font-size: 110px;
    color: var(--cor-mais-escura);
    font-family: 'Montserrat', sans-serif;
}

.container_mid p {
    color: var(--cor-terciaria);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

/* CSS do QuemSomos */
.container_intro_quemSomos {
    background-image: url(../assets/ecoassociados.jpg);
    background-position: center;
    background-size: cover;
    color: var(--cor-mais-clara);
    width: 100%;
    padding-top: 80px;
}

.container_historia {
    justify-content: space-between;
    display: flex;
    padding: 50px 10vw;
    color: #000;
}

.container_historia p {
    padding: 10px 0;
    max-width: 900px;
    font-size: 18px;
    color: #000;
}

.container_historia h1 {
    color: #000;
    font-size: 70px;
    max-width: 500px;
}

.container_historia span {
    font-size: 45px;
    color: var(--cor-escura-verde);
}

/* CSS Como atuamos*/
.container_intro_comoAtuamos {
    background-image: url(../assets/comoAtuamos.jfif);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 80px;
}

/* CSS cards - Como Atuamos */
.card-list {
    background-color: #e7e7e7;
    color: white;
    font-family: 'DM Mono', monospace;
    display: flex;
    margin-bottom: 50px;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list a {
    text-decoration: none;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
    background: #e7e7e7;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#e7e7e7);
}

.card {
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #e5e5e5;
    box-shadow: -1rem 0 3rem #d9d9d9;
    display: flex;
    flex-direction: column;
    transition: 2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}


.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: #555;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg, var(--cor-terciaria), var(--cor-mediana));
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
    color: #555;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: var(--cor-mediana);
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

/* Timeline Quem Somos*/
.container_timeline {
    background-color: #e1e1e1;
    margin: 150px;
    padding: 1px 1px 50px 1px;
    border-radius: 10px;
}

.container_timeline h1 {
    color: #333;
    font-weight: 700;
    margin-top: 125px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 23px;
}

.process-wrapper {
    margin: auto;
    max-width: 1080px;
}

#progress-bar-container {
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: 65px;
}

#progress-bar-container ul {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 9999;
    position: absolute;
    width: 100%;
    margin-top: -40px
}

#progress-bar-container li {
    font-family: 'Poppins', sans-serif;
}

#progress-bar-container li:before {
    content: " ";
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px #aaa;
    transition: all ease 0.3s;

}

#progress-bar-container li.active:before,
#progress-bar-container li:hover:before {
    border: solid 2px #fff;

    background: linear-gradient(to right, var(--cor-escura-verde) 0%, var(--cor-terciaria) 100%);
}

#progress-bar-container li {
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 60px;
    position: relative;
}

#progress-bar-container li .step-inner {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}

#progress-bar-container li.active,
#progress-bar-container li:hover {
    color: #444;
}

#progress-bar-container li:after {
    content: " ";
    display: block;
    width: 6px;
    height: 6px;
    background: #777;
    margin: auto;
    border: solid 7px #fff;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;

}

#progress-bar-container li:hover:after {
    background: #555;
}

#progress-bar-container li.active:after {
    background: #207893;
}

#progress-bar-container #line {
    width: 80%;
    margin: auto;
    background: #eee;
    height: 6px;
    position: absolute;
    left: 10%;
    top: 57px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
    content: " ";
    width: 3%;
    height: 100%;
    background: #207893;
    background: linear-gradient(to right, #207893 0%, #2ea3b7 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-content-section {
    width: 90%;
    margin: auto;
    background: #f3f3f3;
    border-radius: 4px;
}

#progress-content-section .section-content {
    padding: 30px 40px;
    text-align: center;
}

#progress-content-section .section-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
}

#progress-content-section .section-content p {
    font-size: 16px;
    line-height: 1.8em;
    color: #777;
}

#progress-content-section .section-content {
    display: none;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode: forwards;
    transform: translateY(15px);
    opacity: 0;
}

#progress-content-section .section-content.active {
    display: block;
}

@keyframes FadeInUp {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* CSS dos patrocinadores */
.container_parceiros {
    padding: 2.5%;
    background-color: var(--cor-escura-verde);
}

.container_parceiros h1 {
    color: var(--cor-mais-clara);
    align-items: center;
    text-align: center;
    font-size: 60px;
}

.container_parceiros img {
    display: flex;
    max-width: 250px;
    justify-content: center;
}


.img {
    background-color: var(--cor-escura-verde);
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

/* CSS do slide */
.slider {
    margin-bottom: 800px;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin: 15px;
    margin-left: 550px;

}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #fff;
}

/* CSS faça parte */
.container_intro_facaParte {
    background-image: url(../assets/facaParte2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 80px;
}

/* CSS geral */
h1 {

    font-family: 'Montserrat', sans-serif;
}

p {

    font-family: 'Poppins', sans-serif;
}

/* CSS footer */
footer {
    box-sizing: border-box;
    letter-spacing: 1px;
    height: 10%;
    width: 100%;
    color: var(--cor-mais-clara);
}

.footerSimples {
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 14px;
}

.footerPrincipal {
    box-sizing: border-box;
    letter-spacing: 1px;
    height: 10%;
    width: 100%;
    color: var(--cor-mais-clara);
}

#footer_content {
    background-color: var(--cor-mais-escura);
    padding: 3rem 3.5rem;
}

#footer_social_media {
    display: flex;
    margin: 50px 100px 0 0;
    gap: 2rem;
    float: right;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--cor-mediana);
    border: 2px solid var(--cor-mais-clara);
    border-radius: 35%;
    transition: all 0.4s;

}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    background-color: var(--cor-mais-clara);
}

@media screen and (max-width: 768px) {
    .container_btnFacaParte {
        margin: 50px 20px;
        padding: 40px;
    }

    .navbar {
        padding: 10px;
    }

    .navlinks {
        margin: 0 20px;
        font-size: 14px;
    }

    .logo img {
        max-width: 100px;
        margin-left: 20px;
    }

    .btn_navbar {
        margin-right: 20px;
    }

    .container_intro h1 {
        font-size: 60px;
    }

    .container_intro p {
        font-size: 16px;
    }

    .container_mid h2 {
        font-size: 80px;
    }

    .container_mid p {
        font-size: 20px;
    }

    .container_historia h1 {
        font-size: 50px;
        max-width: 100%;
    }

    .container_historia span {
        font-size: 35px;
    }

    .card {
        height: 300px;
        width: 300px;
        margin-left: 0;
    }

    .card-list {
        padding: 1rem;
    }

    .footerSimples,
    .footerPrincipal {
        height: auto;
    }

    #footer_social_media {
        margin: 20px 20px 0 0;
    }
}

 /* @media screen and (max-width: 600px) {  
    .navbar {
        padding: 10px;
    }

    .navlinks {
        margin: 0 20px;
        font-size: 12px;
    }

    .logo img {
        max-width: 100px;
        margin-left: 20px;
    }

    .btn_navbar {
        margin-right: 20px;
    }

    .container_btnFacaParte {
        padding: 20px;
        margin: 50px 20px;
    }

    .container_intro {
        padding: 100px 20px 0;
    }

    .container_text h1 {
        font-size: 40px;
    }

    .container_text p {
        font-size: 16px;
    }

    .container_mid {
        height: auto;
        padding: 20px;
        grid-template-columns: repeat(2, 50%);
    }

    .container_mid h2 {
        font-size: 60px;
    }

    .container_historia {
        padding: 20px;
    }

    .container_historia h1 {
        font-size: 40px;
    }

    .container_historia span {
        font-size: 30px;
    }

    .container_intro_comoAtuamos,
    .container_intro_quemSomos,
    .container_intro_facaParte {
        padding-top: 20px;
    }

    .card {
        width: 100%;
        margin-left: 0;
    }

    .navigation-auto,
    .manual-navigation {
        width: 100%;
        margin-top: 20px;
    }

    .slider {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
} */