@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

:root {
    --cor-mais-clara: #EBF3E8;
    --cor-mediana: #D2E3C8;
    --cor-terciaria: #7aba92;
    --cor-mais-escura: #86A789;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    background-color: #ffffffda;
}

/*.navbar img {
    
}*/

.navbar {
    margin: 0 auto;
    padding: 2% 5%;
    font-family: 'Montserrat', sans-serif;
}

.navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar nav ul {
    display: flex;
    align-items: center;
}

.navlinks {
    color: var(--cor-terciaria);
    margin: 0 25px;
    font-size: 14px;
    display: block;
}

.btn_navbar {
    background-color: var(--cor-mais-escura);
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
}

.btn_navbar:hover {
    background-color: var(--cor-terciaria);
}

.container_intro {
    background-image: url(../img/tartaruga.png);
    background-position: center;
    background-size: cover;
    height: 65vh;
}

.container_text h1 {
    padding-left: 15%;
    max-width: 900px;
    font-size: 90px;
    font-weight: 600;
}

.container_text p {
    max-width: 900px;
    padding: 2.5%;
    padding-left: 15%;
    font-size: 14px;
}

.container_mid {
    background-color: #fff;
    height: 20vh;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: auto;
}

.container_mid h2 {
    font-size: 110px;
    color: var(--cor-mais-escura);
    font-family: 'Montserrat', sans-serif;
}

.container_mid p {
    color: var(--cor-mediana);
    font-size: 25px;
    font-weight: 500;
}

h1 {
    color: var(--cor-mais-clara);
    font-family: 'Montserrat', sans-serif;
}

p {
    color: var(--cor-mais-clara);
    font-family: 'Poppins', sans-serif;
}